.animasi-card {
    animation-duration: .7s;
    animation-name: slidein;
    animation-timing-function: ease-in;
}

@keyframes slidein {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.animasi-card2 {
    animation-duration: .3s;
    animation-name: slidein2;
    animation-timing-function: ease-in;
}

@keyframes slidein2 {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translatey(0);
    }
}